.App {
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  outline: 1px solid #bbb;
  padding: 0.5rem;
  margin: 2.5% auto;
  flex: 0 1 20%;
}

.banner {
  background-color: rgb(163, 17, 182);
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}
