.App {
  text-align: center;
}

label, input {
  display: block;
  margin: 5px auto;
  min-width: 180px;
}

.msg-info {
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #bbb;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  outline: 1px solid #bbb;
  padding: 0.5rem;
  margin: 2.5% auto;
  flex: 0 1 20%;
}

.banner {
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}
.banner.banner-popular {
  background-color: rgb(163, 17, 182);
}
.banner.banner-average {
  background-color: rgb(59, 52, 59);
}
